<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="Inits" value="SLC"/>
    <add key="DaysBack" value="12"/>
    <add key="OutputDirectory" value="c:\\UserData\\Temp\\MediaWatch\\"/>
    <add key="XmlDirectory" value="c:\UserData\Temp\MediaWatch\\"/>
    <add key="Report-Latest" value="Yes"/>
    <add key="Report-TV" value="Yes"/>
    <add key="Report-Movies" value="Yes"/>
    <add key="MediaFolder1" value="c:\\Userdata\\temp\\incoming\\Media\\Movies\\"/>     
    <add key="MediaFolder2"   value="c:\\Userdata\\temp\\incoming\\Media\\TV\\" />
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="c:\userdata\temp\MediaWatch\mediawatch-${shortdate}.log"/>
      <target name="ds" xsi:type="OutputDebugString"/>
      <target name="console" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="console,file"/>
    </rules>

  </nlog>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
